.styledOutput{
    background-color: #63dbfd;
    padding: 20px;
    font-size: 40px;
    border-radius: 5px;
}
.wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    border: 2px solid #63dbfd;
    border-radius: 5px;
    padding: 10px;
}
.btn{
    background-color: #63dbfd;
    border:none;
    border-radius: 5px;
    padding: 5px;
}
.maxValue{
    color:red;
}